<body>

  <div id="container-">
    <nav class="navbar navbar-expand-lg navbar-red bg-red">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">VERIFICA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Cómo funciona</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Qué incluye</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Precios
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">VDA</a></li>
                <li><a class="dropdown-item" href="#">VMA</a></li>
                <li><a class="dropdown-item" href="#">VPA</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contacto</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  <header>
    <h1>Pagina de Practica</h1>
  </header>
    <section> <!--BOTTON ANGULAR-->
      <div class="example-button-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button href="https://verifica.com.ar" target="_blank">Link</a>
      </div>
    </section>

    <!--CONTENT INF. 3 GRILLAS-->
    <section class="servicios text-center">
      <h2>COMO FUNCIONA</h2>
      <div class="container grid-4">
        <div class="columna3">
          <i class="far fa-calendar-alt fa-10x"></i>
          <h3>AGENDAS UNA VISITA</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, quas.</p>
        </div>

        <div class="columna3">
          <i class="fab fa-cc-visa fa-10x"></i>
          <h3>ELEGIS EL PAGO</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, quas.</p>  
        </div>
        
        <div class="columna3">
          <i class="fas fa-paste fa-10x"></i>
          <h3>RECIBIS EL INFORME</h3>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, quas.</P>
        </div>

      </div>
    </section>

    <!--GRILLA DE 4-->  
    <section class="incluye text-center">
      <h2>QUE INCLUYE</h2>
      <div class="container grid-4;">

        <div class="columnas4">
          <i class="fas fa-street-view fa-4x"></i>
          <h3>SERVICIO A DOMICILIO</h3>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, assumenda.</P>
        </div>
        
        <div class="columnas4 ">
          <i class="fas fa-robot fa-4x"></i>
          <h3>ESCANEO COMPLETO</h3>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, assumenda.</P>
        </div>
        
        <div class="columnas4">
          <i class="fab fa-korvue fa-4x"></i>
          <h3>KILOMETROS REALES</h3>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, assumenda.</P>
        </div>
        
        <div class="columnas4 ">
          <i class="fas fa-car-crash fa-4x"></i>
          <h3>CHOQUES Y GRANIZO</h3>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, assumenda.</P>
        </div>

        <div class="columnas4 ">
          <i class="fas fa-cogs fa-4x"></i>
          <h3>TÉCNICO HOMOLOGADO</h3>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, assumenda.</P>
        </div>
        
        <div class="columnas4 ">
          <i class="fas fa-pump-soap fa-4x"></i>
          <h3>MANTENIMIENTO</h3>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, assumenda.</P>
        </div>

        <div class="columnas4 ">
          <i class="fas fa-tools fa-4x"></i>
          <h3>REPARACIONES</h3>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, assumenda.</P>
        </div>

        <div class="columnas4 ">
          <i class="fas fa-street-view fa-4x"></i>
          <h3>VICIOS OCULTOS</h3>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, assumenda.</P>
        </div>
        
        <div class="columnas4 ">
          <i class="fas fa-street-view fa-4x"></i>
          <h3>COSTOS SORPRESAS</h3>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, assumenda.</P>
        </div>
        
        <div  class="columnas4 ">
          <i class="fas fa-street-view fa-4x"></i>
          <h3>PRUEBA DE MANEJO</h3>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, assumenda.</P>
        </div>
        
        <div class="columnas4 ">
          <i class="fas fa-street-view fa-4x"></i>
          <h3>INFORME ONLINE</h3>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, assumenda.</P>
        </div>

        <div class="columnas4 ">
          <i class="fas fa-street-view fa-4x"></i>
          <h3>EXPERIENCIA</h3>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, assumenda.</P>
        </div>

      </div>
    </section>
    
    <section class="banner-1">
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="">VER</a></h3>
    </section>

    <section class="imagenYtexto">
      <div class="container grid-2">

        <div class="column2">
          <h1>HOLA</h1>
        </div>


        <div class="column2">
          <img width="300px" src="img/bidon.png" alt="AUTO"> 
          <h1>Segundo HOLA</h1>
        </div>


      </div>

    </section>




  </div> 
</body> 